# Lab 9: Functions and Vectors

## Load Packages

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.0     ✔ dplyr   1.0.5
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Functions

**REMEMBER: DRY KISS**

(Don't Repeat Yourself and Keep It Stupidly Simple!)

Advantages of functions:
*   Automate common tasks
*   Helps make your code easier to understand
*   Reduces repricated code- makes it easier to debug and update
*   Eliminate copy and pasting mistakes - if you ever need to copy and paste more than 2 times, write a function.

Functions are an integral part of most coding languages, and it is a learning process. You do not have to start off by writing perfect functions.

Tips for writing functions: PRACTICE GOOD STYLE. It may seem frusterating and slow, but makes it so much easier to read and debug-fix code and to update as needed.

Comments and functions are best friends!

In [ ]:
hello_world <- function() {
    print("hello")
}

In [ ]:
hello_world()

[1] "hello"

In [ ]:
nums <- c("zero","one", "two", "three", "four", "five", "six", "seven", 
          "eight", "nine", "ten", "eleven", "twelve") %>% 
          str_c(collapse = "\\b|\\b")
numbers <- c("\\bone\\b" = "1", "\\btwo\\b" = "2", "\\bthree\\b" = "3", 
             "\\bfour\\b" = "4", "\\bfive\\b" = "5", "\\bsix\\b" = "6", 
             "\\bseven\\b" = "7", "\\beight\\b" = "8", "\\bnine\\b" = "9", 
             "\\bten\\b" = "10", "\\beleven\\b" = "11", "\\btwelve\\b" = "12")

In [ ]:
###which is easier to read? They are litterally all the same steps

s1 <- tibble(sentences = sentences) %>% mutate(lower = str_to_lower(sentences)) %>% mutate(number = str_extract(lower, nums)) %>% arrange(number) %>% filter (!is.na(number)) %>% mutate(lower = str_replace_all(.$lower, numbers)) %>% mutate(lower = str_to_sentence(.$lower)) %>% .$lower 

s1 <- tibble(sentences = sentences) %>% mutate(lower = str_to_lower(
  sentences)) %>% mutate(number = str_extract(lower, nums)) %>% arrange(
    number) %>% filter (!is.na(number)) %>% mutate(lower = str_replace_all(
  .$lower, numbers)) %>% mutate(lower = str_to_sentence(.$lower)) %>% .$lower 

s1 <- tibble(sentences = sentences) %>%
    mutate(lower = str_to_lower(sentences)) %>%
    mutate(number = str_extract(lower, nums)) %>% 
    arrange(number) %>% 
    filter (!is.na(number)) %>%
    mutate(lower = str_replace_all(.$lower, numbers))  %>% 
    mutate(lower = str_to_sentence(.$lower)) %>% 
    .$lower

s1 <- tibble(sentences = sentences) %>%
    mutate(lower = str_to_lower(sentences)) %>%
    mutate(number = str_extract(
      lower, 
      nums)) %>% 
    arrange(number) %>% 
    filter (!is.na(number)) %>%
    mutate(lower = str_replace_all(
      .$lower, 
      numbers))  %>% 
    mutate(lower = str_to_sentence(.$lower)) %>% 
    .$lower 

s1 <-tibble(
      sentences = sentences
    ) %>%
    mutate(
      lower = str_to_lower(
        sentences
      )
    ) %>%
    mutate(
      number = str_extract(
          lower, 
          nums
      )
    ) %>% 
    arrange(
      number
    ) %>% 
    filter (
      !is.na(
        number
      )
    ) %>%
    mutate(
      lower = str_replace_all(
        .$lower, 
        numbers
      )
    )  %>% 
    mutate(
      lower = str_to_sentence(
        .$lower
      )
    ) %>% 
    .$lower

**Function Forms:**

    name <- function(inputArgs) {
       function body
    }

## Steps to writing basic functions:

**1) Analyze inputs:**
How many inputs will the function have?

In [ ]:
# fahrenheit to celsius
# 1 input
temp_C <- (temp_F - 32) * 5 / 9 

#integer division
# 2 inputs
out <- floor(in_a / in_b) 

#pythagorean theorem
# 2 inputs
c <- sqrt(a * a + b * b)

#change the range of a vector from 0 to 1
# 1 input
df$d2 <- (df$d - min(df$d, na.rm = TRUE)) / 
  (max(df$d, na.rm = TRUE) - min(df$d, na.rm = TRUE))

**2) Simplify:** -Pull out intermediate steps, label to make it more clear and easy to follow. Simplify variables too if it makes sense to you.

In [ ]:
# fahrenheit to celsius
F <- temp_F
temp_C <- (F - 32) * 5 / 9 

#integer division
#out <- floor(in_a / in_b) 
a <- in_a
b <- in_b
div = a / b
floor(div)

#pythagorean theorem
#c <- sqrt(a * a + b * b)
aSq <- a * a
bSq <- b * b
sqrt(aSq + bSq)

#change the range of a vector from 0 to 1
# 1 input
#df$d2 <- (df$d - min(df$d, na.rm = TRUE)) / 
#  (max(df$d, na.rm = TRUE) - min(df$d, na.rm = TRUE))
x <- df$d
rge <- range(x, na.rm = TRUE)
(x - rng[1]) / (rng[2] - rng[1])

**3) Write a Descriptive Name** then put it into a function. Generally, function names should be verbs, and arguments should be nouns.  Why? Because functions generally DO SOMTHING. There are some exceptions: nouns are ok if the function computes a very well known noun, or accessing some property of an object. A good sign that a noun might be a better choice is if you’re using a very broad verb like “get”, “compute”, “calculate”, or “determine”.

Good variable names:
*   Are consistent- cases, etc
*   Are clear
*   Similar functions similar names

In [ ]:
# fahrenheit to celsius
fahr_to_cel <-  function(F) {
  (F - 32) * 5 / 9 
}

#integer division
int_Division <- function(a, b) {
  #division
  div = a / b
  #change to int
  floor(div)
}

#pythagorean theorem
pythag_theorem <- function(a, b) {
  #Find a^2 and b^2
  aSq <- a * a
  bSq <- b * b
  #Calc Square Root of Sum
  sqrt(aSq + bSq)
}

#change the range of a vector from 0 to 1
# 1 input
rescale01 <- function(x) {
  #find range of vector
  rng <- range(x, na.rm = TRUE)
  #function
  (x - rng[1]) / (rng[2] - rng[1])
}

**4) Check that it works**

In [ ]:
# fahrenheit to celsius
fahr_to_cel(32)

fahr_to_cel(72)

fahr_to_cel(-20)

fahr_to_cel(120)


#integer division
#out <- floor(in_a / in_b) 
int_Division(12, 5)

int_Division(72, 10)

int_Division(19, 20)

#pythagorean theorem
# 2 inputs
#c <- sqrt(a * a + b * b)
pythag_theorem(3, 4)

pythag_theorem(5, 10)

pythag_theorem(15, 21)

#change the range of a vector from 0 to 1
# 1 input
#df$d2 <- (df$d - min(df$d, na.rm = TRUE)) / 
#  (max(df$d, na.rm = TRUE) - min(df$d, na.rm = TRUE))
rescale01(c(0, 5, 10))

rescale01(c(-1, 8, 4, 6, NA))

rescale01(diamonds$price) %>% head()

[1] 0

[1] 22.22222

[1] -28.88889

[1] 48.88889

[1] 2

[1] 7

[1] 0

[1] 5

[1] 11.18034

[1] 25.80698

[1] 0.0 0.5 1.0

[1] 0.0000000 1.0000000 0.5555556 0.7777778        NA

[1] 0.000000e+00 0.000000e+00 5.406282e-05 4.325026e-04 4.865654e-04
[6] 5.406282e-04

#### Questions:

Practice turning the following into functions. Think about what each function does. What would you call it? How many arguments does it need? Can you rewrite it to be more expressive or less duplicative?

In [ ]:
#a) x / sum(x, na.rm = TRUE)

percent_of_whole <-

In [ ]:
percent_of_whole(c(0,1,5,4))

[1] 0.0 0.1 0.5 0.4

b)


![image.png]()

![image.png]()

In [ ]:
variance <-

In [ ]:
variance(c(1,0,5,2))

[1] 4.666667

In [ ]:
variance(diamonds$price)

var(diamonds$price)

[1] 15915629

[1] 15915629

Come up with better names for these functions:

In [ ]:
fun <- function(string, prefix) {
  substr(string, 1, nchar(prefix)) == prefix
}

fun2 <- function(x) {
  if (length(x) <= 1) return(NULL)
  x[-length(x)]
}

fun3 <- function(x, y) {
  rep(y, length.out = length(x))
}

## Conditional's

`if` and `if else` statements allow you to conditionally execute code.

      if (condition) {
        do this
      } else if (condition b) {
        do this instead
      } else {
        do this third thing
      }

Conditionals can be applied to any logiscal opperator (think back to filter statements).

Word of Caution: `if ... else` only works on single values. You have to figure out something else if you want to apply the function to a vector. (We will learn about itterators which will work, or you could use `ifelse()` which we have used before.

In [ ]:
classify20 <- function (y) {
  if (y < 20) {
    "Too low" 
  } else {
    "Too high"
  }
}

In [ ]:
classify20(5)

classify20(22)

[1] "Too low"

[1] "Too high"

## Common interview question:

Implement a fizzbuzz function. It takes a single number as input. If the number is divisible by three, it returns “fizz”. If it’s divisible by five it returns “buzz”. If it’s divisible by three and five, it returns “fizzbuzz”. Otherwise, it returns the number. Make sure you first write working code before you create the function.

In [ ]:
fizzbuzz(4)

[1] 4

## Switch and Cut

If your if/else functions get too long consider usign `switch()` or `cut()` functions.

**switch()**

In [ ]:
operations <- function(x, y, op) {
  switch(op,
    plus = x + y,
    minus = x - y,
    times = x * y,
    divide = x / y,
    stop("Unknown op!")
  )
}

In [ ]:
operations(2,3, "plus")

[1] 5

In [ ]:
operations(2,3, "minus")

[1] -1

In [ ]:
operations(2,3, "times")

[1] 6

In [ ]:
operations(2,3, "divide")

[1] 0.6666667


**cut()**

In [ ]:
classify_thirds <- function (y) {
  cut(y, breaks = 3, label = 1:3)
}

In [ ]:
c3 <- classify_thirds(diamonds$price)

table(c3)

c3
    1     2     3
43591  7347  3002

In [ ]:

classify_temp <- function(temp) {
  if (temp <= 0) {
    "freezing"
  } else if (temp <= 10) {
    "cold"
  } else if (temp <= 20) {
    "cool"
  } else if (temp <= 30) {
    "warm"
  } else {
    "hot"
  }
}

classify_temp(15)

[1] "cool"

In [ ]:
temp <- 15
cut(temp, 
  breaks = c(-100,0,10,20,30,100), 
  labels = c("freezing", "cold", "cool", "warm", "hot"))

[1] cool
Levels: freezing cold cool warm hot

#### Challenges
Write a function that takes in a percentage and returns a letter grade.

Write a function that takes in a letter grade and returns whether they did "Excellent! (A), "Well Done!" (C or B), "You Passed." (D), "Need to try again." (F) or if the letter is invalid. Also have the function return "Your grade is _"

### Checking Values

When creating functions it is often important to validate the arguments, meaning checking to make sure they work and/or make sense.

In [ ]:
int_Division(0,0)

[1] NaN

In [ ]:
#integer division
int_Division <- function(a, b) {
  #division
  if (b == 0) {
    ##calls an error
    stop("cannot divide by 0...", call. = FALSE)
  }
  div = a / b
  #change to int
  floor(div)
}

In [ ]:
int_Division(0,0)

ERROR: ignored

## (...)

We've used functions like:

In [ ]:
sum(1,2,3,4,5,6,7,8,9,10)

[1] 55

In [ ]:
str_c("a","b","c","d","e")

[1] "abcde"

How do these work? They ue the special argument `...`, which takes any number of arguments. This is expecially useful if you want to sent them on, and wrap another function.

In [ ]:
srt_sum <- function(...) sqrt(sum(...))

In [ ]:
srt_sum(1:10)

[1] 7.416198