# Lab 5: Data manipulation

In [1]:
require(tidyverse)

Loading required package: tidyverse

Warning message:
"package 'tidyverse' was built under R version 4.1.1"
-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.4     v dplyr   1.0.7
v tidyr   1.1.3     v stringr 1.4.0
v readr   2.0.1     v forcats 0.5.1

Warning message:
"package 'ggplot2' was built under R version 4.1.0"
Warning message:
"package 'tibble' was built under R version 4.1.1"
Warning message:
"package 'tidyr' was built under R version 4.1.1"
Warning message:
"package 'readr' was built under R version 4.1.1"
Warning message:
"package 'purrr' was built under R version 4.1.1"
Warning message:
"package 'dplyr' was built under R version 4.1.0"
Warning message:
"package 'stringr' was built under R version 4.1.1"
Warning message:
"package 'forcats' was built under R version 4.1.1"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## MLB Data

This dataset contains information for player-seasons in the American League from 2015 to 2018. For those unfamiliar with baseball:
* `PA`: Plate Appearances, the number of times a player came up to bat.
* `HR`: number of home runs.
* `BBrate`: The number of walks (BBs) as a percentage of plate appearances.
* `BB`: The number of walks.
* `K`: The number of strikeouts.
* `AVG`: A batters batting average.
* `FB`: The number of fly balls a batter hit.

Note: Also recall the functions `unite`, `separate`, and `complete`.

In [2]:
?unite

In [3]:
?separate

In [4]:
?complete

In [5]:
mlb = read_csv('https://raw.githubusercontent.com/rogerfan/stats306_f18_labs/master/mlb.csv')
head(mlb)

Rows: 1526 Columns: 11

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (5): name, team, division, BBrate, BB_K
dbl (6): year, PA, HR, AVG, FB, playerid


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  year name            team    division PA  HR BBrate BB_K  AVG   FB playerid
1 2016 Abraham Almonte Indians Central  194 1  4.1 %  8/42  0.264 43  5486
2 2017 Abraham Almonte Indians Central  195 3  10.3 % 20/46 0.233 34  5486
3 2015 Adam Moore      Indians Central    4 0  0.0 %  0/2   0.250  1  9362
4 2016 Adam Moore      Indians Central    5 0  0.0 %  0/4   0.000  1  9362
5 2018 Adam Plutko     Indians Central    2 0  0.0 %  0/0   0.000  0 15846
6 2018 Adam Rosales    Indians Central   21 1  4.8 %  1/5   0.211  7  9682

Note that `BBrate` and `BB_K` were read in as strings. Clean up these variables and convert them to numeric variables, noting that `BB_K` should be two variables named `BB` and `K`.

In [6]:
dat1 = mlb %>% mutate(BBrate = as.numeric(str_replace(BBrate, ' %', ''))/100) %>%
    separate(BB_K, into = c("BB", "K"), sep="/", convert=TRUE)
head(dat1)

  year name            team    division PA  HR BBrate BB K  AVG   FB playerid
1 2016 Abraham Almonte Indians Central  194 1  0.041   8 42 0.264 43  5486
2 2017 Abraham Almonte Indians Central  195 3  0.103  20 46 0.233 34  5486
3 2015 Adam Moore      Indians Central    4 0  0.000   0  2 0.250  1  9362
4 2016 Adam Moore      Indians Central    5 0  0.000   0  4 0.000  1  9362
5 2018 Adam Plutko     Indians Central    2 0  0.000   0  0 0.000  0 15846
6 2018 Adam Rosales    Indians Central   21 1  0.048   1  5 0.211  7  9682

### Problem 1

Calculate the HR per FB rate for each division team and year. Convert this to a wide dataset, so your variables should be `division`, `team`, and `2015`-`2018`, where values are the HR/FB rate. Note that you should ensure that `division` is still in the dataset.

Create a variable called `increased`, which checks if the HR/FB rate was higher in 2018 than it was in 2015 for that team.

In [7]:
dat2 = mlb

head(dat2)

  year name            team    division PA  HR BBrate BB_K  AVG   FB playerid
1 2016 Abraham Almonte Indians Central  194 1  4.1 %  8/42  0.264 43  5486
2 2017 Abraham Almonte Indians Central  195 3  10.3 % 20/46 0.233 34  5486
3 2015 Adam Moore      Indians Central    4 0  0.0 %  0/2   0.250  1  9362
4 2016 Adam Moore      Indians Central    5 0  0.0 %  0/4   0.000  1  9362
5 2018 Adam Plutko     Indians Central    2 0  0.0 %  0/0   0.000  0 15846
6 2018 Adam Rosales    Indians Central   21 1  4.8 %  1/5   0.211  7  9682

### Problem 2

Turn this back into a "long" dataset and create a plot of HR/FB rate on year. Create line graphs that summarize the data. Color them by `team`, facet it by `division`, and choose the linetype according to the `increased` variable.

### Problem 3

Go back to `mlb` and calculate total HRs and PAs per year per team. Create a wide version of this dataset. So there should be a `team` variable, then eight variables tracking values: `HR_2015`, `HR_2016`, `HR_2017`, `HR_2018`, `PA_2015`, `PA_2016`, `PA_2017`, and `PA_2018`.

Hint: Once you calculate the values you can use a `gather`, `unite`, and `spread` in that order to create the wide version.

In [8]:
dat3 = mlb 

head(dat3)

  year name            team    division PA  HR BBrate BB_K  AVG   FB playerid
1 2016 Abraham Almonte Indians Central  194 1  4.1 %  8/42  0.264 43  5486
2 2017 Abraham Almonte Indians Central  195 3  10.3 % 20/46 0.233 34  5486
3 2015 Adam Moore      Indians Central    4 0  0.0 %  0/2   0.250  1  9362
4 2016 Adam Moore      Indians Central    5 0  0.0 %  0/4   0.000  1  9362
5 2018 Adam Plutko     Indians Central    2 0  0.0 %  0/0   0.000  0 15846
6 2018 Adam Rosales    Indians Central   21 1  4.8 %  1/5   0.211  7  9682

## Midterm Review

In [9]:
load("lab5.Rdata")

lab5.RData contains two data frames: listing, demo. Let's take a look. listing basically has all the info you would find on a rental page.
Some demographic info by zipcode are in demo

In [10]:
listing %>% glimpse()

Rows: 23,624
Columns: 29
$ accommodates                <dbl> 2, 2, 6, 1, 2, 2, 2, 2, 3, 1, 2, 4, 3, 4, ~
$ amenities                   <chr> "{}", "{\"Wireless Internet\",\"Air condit~
$ availability_30             <int> 29, 18, 3, 0, 6, 22, 10, 0, 3, 20, 17, 27,~
$ bathrooms                   <dbl> 1.0, 1.0, 1.0, 1.0, 1.0, NA, 1.5, 1.0, 2.0~
$ bed_type                    <chr> "Real Bed", "Real Bed", "Real Bed", "Real ~
$ bedrooms                    <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ~
$ beds                        <dbl> 1, 1, 3, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, ~
$ cancellation_policy         <chr> "flexible", "flexible", "flexible", "flexi~
$ city                        <chr> "palmdale", "acton", "acton", "los angeles~
$ has_availability            <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA~
$ host_id                     <int> 44800067, 84615808, 71743973, 41646908, 89~
$ id                          <int> 8909380, 14078522, 13006928, 7898757, 1606~
$ instant_bookable            <chr> "f", "f", "t", "f", "f", "f", "f", "f", "f~
$ latitude                    <dbl> 34.48543, 34.51013, 34.51549, 34.03142, 34~
$ longitude                   <dbl> -118.1254, -118.2124, -118.2307, -118.2990~
$ metropolitan                <chr> "LA", "LA", "LA", "LA", "LA", "LA", "LA", ~
$ name                        <chr> "Nice quiet private ranch house", "Room w/~
$ price                       <dbl> 50, 55, 150, 30, 45, 56, 80, 120, 55, 50, ~
$ property_type               <chr> "House", "House", "Other", "Apartment", "H~
$ review_scores_checkin       <dbl> 10, 10, 10, 10, 10, 9, 10, 10, 10, 9, 10, ~
$ review_scores_cleanliness   <dbl> 10, 10, 10, 9, 10, 8, 10, 10, 9, 9, 10, 7,~
$ review_scores_communication <dbl> 10, 10, 10, 10, 10, 9, 10, 10, 10, 9, 10, ~
$ review_scores_location      <dbl> 9, 10, 10, 9, 10, 8, 9, 9, 9, 8, 9, 7, 10,~
$ review_scores_rating        <dbl> 93, 100, 100, 93, 98, 89, 99, 99, 92, 89, ~
$ review_scores_value         <dbl> 9, 10, 10, 10, 10, 9, 10, 10, 9, 9, 10, 8,~
$ room_type                   <chr> "Private room", "Private room", "Entire ho~
$ state                       <chr> "CA", "CA", "CA", "CA", "CA", "CA", "CA", ~
$ weekly_price                <chr> "", "", "", "", "", "$320.00", "$500.00", ~
$ zipcode                     <chr> "93550", "93510", "93510", "90007", "90007~

In [11]:
demo %>% head()

  zipcode population median_household_income mean_household_income
1 601     17982      10816                   20349
2 602     40260      16079                   23282
3 603     52408      16804                   26820
4 606      6331      12512                   15730
5 610     28328      17475                   23360
6 612     64816      17229                   25590

### Goal: 
Airbnb is meant for home sharing, but there are hosts with more than 20 listings. This is more like commercial hotels without regulation than home sharing. We would like to identify such users and see what their impact is on the airbnb ecosystem.
### Step 1:
host_id is a unique identifier for host. id is a unique identifier for listing. Construct a table where for each host_id, we have the number of unique ids, and the mean review_scores_value for that host_id. Call this table tb1. Name the 3 resulting columns host_id, nid, and mean_review. Arrange it by number of id's

### Step 2:

a) Create a sequence of box plots, where the x axis is nid, and y axis is mean_review.

b) Create a scatter plot of mean_review vs nid, add a smooth fitted line.

What do you see? If you have made both, what are the things that you can pick off from one plot but not the other?

### Step 3:
Let's define commercial hosts to be hosts with >= 5 listings. Create a column in listing indicating if this row has a commercial host. (hint: you need to merge tables for this, at least I needed)

### Step 4:
In listing, find for each zipcode, the total number of listings, the number of commercial listings (any listing by a commercial host is a commercial listing), and the mean price of all listings; retain only rows with more than 25 listings. Name this table tb3, name four columns zipcode, nlist, ncomlist, and mp.

### Step 5:
In tb3, add a column of boolean value indicating if this zipcode is "commercial heavy". We define commercial heavy as the number commercial listings exceeding 20% of the total amount of listings. Name the result tb4.